.repo-dark-theme {
  --repo-typography-base-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-base-fontWeight: 400;
--repo-typography-base-fontSize: 16px;
--repo-typography-base-lineHeight: 1.25;
--repo-typography-h1-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-h1-fontWeight: 700;
--repo-typography-h1-fontSize: 48.828125px;
--repo-typography-h1-lineHeight: 1.25;
--repo-typography-h2-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-h2-fontWeight: 600;
--repo-typography-h2-fontSize: 39.0625px;
--repo-typography-h2-lineHeight: 1.25;
--repo-typography-h3-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-h3-fontWeight: 600;
--repo-typography-h3-fontSize: 31.25px;
--repo-typography-h3-lineHeight: 1.25;
--repo-typography-h4-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-h4-fontWeight: 500;
--repo-typography-h4-fontSize: 25px;
--repo-typography-h4-lineHeight: 1.24;
--repo-typography-h5-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-h5-fontWeight: 500;
--repo-typography-h5-fontSize: 20px;
--repo-typography-h5-lineHeight: 1.25;
--repo-typography-h6-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-h6-fontWeight: 500;
--repo-typography-h6-fontSize: 16px;
--repo-typography-h6-lineHeight: 1.25;
--repo-typography-paragraph-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-paragraph-fontWeight: 400;
--repo-typography-paragraph-fontSize: 16px;
--repo-typography-paragraph-lineHeight: 1.25;
--repo-typography-small-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-small-fontSize: 14px;
--repo-typography-small-lineHeight: 1;
--repo-typography-small-fontWeight: 400;
--repo-typography-input-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-input-fontSize: 16px;
--repo-typography-input-lineHeight: 1.25;
--repo-typography-input-fontWeight: 400;
--repo-typography-button-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-button-fontSize: 14px;
--repo-typography-button-fontWeight: 500;
--repo-typography-button-lineHeight: 1.75;
--repo-typography-label-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-label-fontSize: 14px;
--repo-typography-label-fontWeight: 400;
--repo-size-4: 0.25rem;
--repo-size-8: 0.5rem;
--repo-size-12: 0.75rem;
--repo-size-16: 1rem;
--repo-size-20: 1.25rem;
--repo-size-24: 1.5rem;
--repo-size-28: 1.75rem;
--repo-size-32: 2rem;
--repo-size-36: 2.25rem;
--repo-size-40: 2.5rem;
--repo-size-44: 2.75rem;
--repo-size-48: 3rem;
--repo-size-52: 3.25rem;
--repo-size-56: 3.5rem;
--repo-size-60: 3.75rem;
--repo-size-64: 4rem;
--repo-size-68: 4.25rem;
--repo-size-72: 4.5rem;
--repo-size-76: 4.75rem;
--repo-size-80: 5rem;
--repo-size-84: 5.25rem;
--repo-size-88: 5.5rem;
--repo-size-92: 5.75rem;
--repo-size-96: 6rem;
--repo-size-100: 6.25rem;
--repo-size-104: 6.5rem;
--repo-size-108: 6.75rem;
--repo-size-112: 7rem;
--repo-size-116: 7.25rem;
--repo-size-120: 7.5rem;
--repo-size-124: 7.75rem;
--repo-size-128: 8rem;
--repo-size-132: 8.25rem;
--repo-size-136: 8.5rem;
--repo-size-140: 8.75rem;
--repo-size-144: 9rem;
--repo-size-148: 9.25rem;
--repo-size-152: 9.5rem;
--repo-size-156: 9.75rem;
--repo-size-160: 10rem;
--repo-size-164: 10.25rem;
--repo-size-168: 10.5rem;
--repo-size-172: 10.75rem;
--repo-size-176: 11rem;
--repo-size-180: 11.25rem;
--repo-size-184: 11.5rem;
--repo-size-188: 11.75rem;
--repo-size-192: 12rem;
--repo-size-196: 12.25rem;
--repo-size-200: 12.5rem;
--repo-size-204: 12.75rem;
--repo-size-208: 13rem;
--repo-size-212: 13.25rem;
--repo-size-216: 13.5rem;
--repo-size-220: 13.75rem;
--repo-size-224: 14rem;
--repo-size-228: 14.25rem;
--repo-size-232: 14.5rem;
--repo-size-236: 14.75rem;
--repo-size-240: 15rem;
--repo-size-244: 15.25rem;
--repo-size-248: 15.5rem;
--repo-size-252: 15.75rem;
--repo-size-256: 16rem;
--repo-size-260: 16.25rem;
--repo-size-264: 16.5rem;
--repo-size-268: 16.75rem;
--repo-size-272: 17rem;
--repo-size-276: 17.25rem;
--repo-size-280: 17.5rem;
--repo-size-284: 17.75rem;
--repo-size-288: 18rem;
--repo-size-292: 18.25rem;
--repo-size-296: 18.5rem;
--repo-size-300: 18.75rem;
--repo-size-304: 19rem;
--repo-size-308: 19.25rem;
--repo-size-312: 19.5rem;
--repo-size-316: 19.75rem;
--repo-size-320: 20rem;
--repo-size-324: 20.25rem;
--repo-size-328: 20.5rem;
--repo-size-332: 20.75rem;
--repo-size-336: 21rem;
--repo-size-340: 21.25rem;
--repo-size-344: 21.5rem;
--repo-size-348: 21.75rem;
--repo-size-352: 22rem;
--repo-size-356: 22.25rem;
--repo-size-360: 22.5rem;
--repo-size-364: 22.75rem;
--repo-size-368: 23rem;
--repo-size-372: 23.25rem;
--repo-size-376: 23.5rem;
--repo-size-380: 23.75rem;
--repo-size-384: 24rem;
--repo-size-388: 24.25rem;
--repo-size-392: 24.5rem;
--repo-size-396: 24.75rem;
--repo-size-400: 25rem;
--repo-size-404: 25.25rem;
--repo-size-408: 25.5rem;
--repo-size-412: 25.75rem;
--repo-size-416: 26rem;
--repo-size-420: 26.25rem;
--repo-size-424: 26.5rem;
--repo-size-428: 26.75rem;
--repo-size-432: 27rem;
--repo-size-436: 27.25rem;
--repo-size-440: 27.5rem;
--repo-size-444: 27.75rem;
--repo-size-448: 28rem;
--repo-size-452: 28.25rem;
--repo-size-456: 28.5rem;
--repo-size-460: 28.75rem;
--repo-size-464: 29rem;
--repo-size-468: 29.25rem;
--repo-size-472: 29.5rem;
--repo-size-476: 29.75rem;
--repo-size-480: 30rem;
--repo-size-484: 30.25rem;
--repo-size-488: 30.5rem;
--repo-size-492: 30.75rem;
--repo-size-496: 31rem;
--repo-size-500: 31.25rem;
--repo-size-504: 31.5rem;
--repo-size-508: 31.75rem;
--repo-size-512: 32rem;
--repo-size-516: 32.25rem;
--repo-size-520: 32.5rem;
--repo-size-524: 32.75rem;
--repo-size-528: 33rem;
--repo-size-532: 33.25rem;
--repo-size-536: 33.5rem;
--repo-size-540: 33.75rem;
--repo-size-544: 34rem;
--repo-size-548: 34.25rem;
--repo-size-552: 34.5rem;
--repo-size-556: 34.75rem;
--repo-size-560: 35rem;
--repo-size-564: 35.25rem;
--repo-size-568: 35.5rem;
--repo-size-572: 35.75rem;
--repo-size-576: 36rem;
--repo-size-580: 36.25rem;
--repo-size-584: 36.5rem;
--repo-size-588: 36.75rem;
--repo-size-592: 37rem;
--repo-size-596: 37.25rem;
--repo-size-600: 37.5rem;
--repo-size-604: 37.75rem;
--repo-size-608: 38rem;
--repo-size-612: 38.25rem;
--repo-size-616: 38.5rem;
--repo-size-620: 38.75rem;
--repo-size-624: 39rem;
--repo-size-628: 39.25rem;
--repo-size-632: 39.5rem;
--repo-size-636: 39.75rem;
--repo-size-640: 40rem;
--repo-size-644: 40.25rem;
--repo-size-648: 40.5rem;
--repo-size-652: 40.75rem;
--repo-size-656: 41rem;
--repo-size-660: 41.25rem;
--repo-size-664: 41.5rem;
--repo-size-668: 41.75rem;
--repo-size-672: 42rem;
--repo-size-676: 42.25rem;
--repo-size-680: 42.5rem;
--repo-size-684: 42.75rem;
--repo-size-688: 43rem;
--repo-size-692: 43.25rem;
--repo-size-696: 43.5rem;
--repo-size-700: 43.75rem;
--repo-size-704: 44rem;
--repo-size-708: 44.25rem;
--repo-size-712: 44.5rem;
--repo-size-716: 44.75rem;
--repo-size-720: 45rem;
--repo-size-724: 45.25rem;
--repo-size-728: 45.5rem;
--repo-size-732: 45.75rem;
--repo-size-736: 46rem;
--repo-size-740: 46.25rem;
--repo-size-744: 46.5rem;
--repo-size-748: 46.75rem;
--repo-size-752: 47rem;
--repo-size-756: 47.25rem;
--repo-size-760: 47.5rem;
--repo-size-764: 47.75rem;
--repo-size-768: 48rem;
--repo-size-772: 48.25rem;
--repo-size-776: 48.5rem;
--repo-size-780: 48.75rem;
--repo-size-784: 49rem;
--repo-size-788: 49.25rem;
--repo-size-792: 49.5rem;
--repo-size-796: 49.75rem;
--repo-size-800: 50rem;
--repo-size-804: 50.25rem;
--repo-size-808: 50.5rem;
--repo-size-812: 50.75rem;
--repo-size-816: 51rem;
--repo-size-820: 51.25rem;
--repo-size-824: 51.5rem;
--repo-size-828: 51.75rem;
--repo-size-832: 52rem;
--repo-size-836: 52.25rem;
--repo-size-840: 52.5rem;
--repo-size-844: 52.75rem;
--repo-size-848: 53rem;
--repo-size-852: 53.25rem;
--repo-size-856: 53.5rem;
--repo-size-860: 53.75rem;
--repo-size-864: 54rem;
--repo-size-868: 54.25rem;
--repo-size-872: 54.5rem;
--repo-size-876: 54.75rem;
--repo-size-880: 55rem;
--repo-size-884: 55.25rem;
--repo-size-888: 55.5rem;
--repo-size-892: 55.75rem;
--repo-size-896: 56rem;
--repo-size-900: 56.25rem;
--repo-size-904: 56.5rem;
--repo-size-908: 56.75rem;
--repo-size-912: 57rem;
--repo-size-916: 57.25rem;
--repo-size-920: 57.5rem;
--repo-size-924: 57.75rem;
--repo-size-928: 58rem;
--repo-size-932: 58.25rem;
--repo-size-936: 58.5rem;
--repo-size-940: 58.75rem;
--repo-size-944: 59rem;
--repo-size-948: 59.25rem;
--repo-size-952: 59.5rem;
--repo-size-956: 59.75rem;
--repo-size-960: 60rem;
--repo-size-964: 60.25rem;
--repo-size-968: 60.5rem;
--repo-size-972: 60.75rem;
--repo-size-976: 61rem;
--repo-size-980: 61.25rem;
--repo-size-984: 61.5rem;
--repo-size-988: 61.75rem;
--repo-size-992: 62rem;
--repo-size-996: 62.25rem;
--repo-size-1000: 62.5rem;
--repo-size-1004: 62.75rem;
--repo-size-1008: 63rem;
--repo-size-1012: 63.25rem;
--repo-size-1016: 63.5rem;
--repo-size-1020: 63.75rem;
--repo-size-1024: 64rem;
--repo-pageLayout-maxContentWidth: 80rem;
--repo-shape-borderRadius: 0.1875rem;
--repo-icon-size-small: 16;
--repo-icon-size-medium: 20;
--repo-className: repo-dark-theme;
--repo-palette-error-main: #f44336;
--repo-palette-error-light: #f77066;
--repo-palette-error-dark: #ea1c0d;
--repo-palette-error-contrastText: #ffffff;
--repo-palette-success-main: #16a34a;
--repo-palette-success-light: #1cd05e;
--repo-palette-success-dark: #107636;
--repo-palette-success-contrastText: #ffffff;
--repo-palette-disabled-backgroundColor: #ccc;
--repo-palette-disabled-color: #888;
--repo-palette-disabled-borderColor: #ccc;
--repo-palette-statusNotStarted-main: #e0e0e0;
--repo-palette-statusNotStarted-light: #f9f9f9;
--repo-palette-statusNotStarted-dark: #c6c6c6;
--repo-palette-statusNotStarted-contrastText: #000000;
--repo-palette-statusInProgress-main: #444;
--repo-palette-statusInProgress-light: #5e5e5e;
--repo-palette-statusInProgress-dark: #2b2b2b;
--repo-palette-statusInProgress-contrastText: #ffffff;
--repo-palette-statusComplete-main: #16a34a;
--repo-palette-statusComplete-light: #1cd05e;
--repo-palette-statusComplete-dark: #107636;
--repo-palette-statusComplete-contrastText: #ffffff;
--repo-palette-primary-main: #fff;
--repo-palette-primary-light: #ffffff;
--repo-palette-primary-dark: #e6e6e6;
--repo-palette-primary-contrastText: #000000;
--repo-palette-secondary-main: #ffffff;
--repo-palette-secondary-light: #ffffff;
--repo-palette-secondary-dark: #e6e6e6;
--repo-palette-secondary-contrastText: #000000;
--repo-palette-appBackground-main: #000;
--repo-palette-appBackground-light: #1a1a1a;
--repo-palette-appBackground-dark: #000000;
--repo-palette-appBackground-contrastText: #ffffff;
--repo-palette-surfaceBackground-main: #222;
--repo-palette-surfaceBackground-light: #3b3b3b;
--repo-palette-surfaceBackground-dark: #080808;
--repo-palette-surfaceBackground-contrastText: #ffffff;
--repo-palette-divider: #222;
--repo-components-appHeader-backgroundColor: #000;
--repo-components-appHeader-textColor: #fff;
}

.repo-light-theme {
  --repo-typography-base-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-base-fontWeight: 400;
--repo-typography-base-fontSize: 16px;
--repo-typography-base-lineHeight: 1.25;
--repo-typography-h1-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-h1-fontWeight: 700;
--repo-typography-h1-fontSize: 48.828125px;
--repo-typography-h1-lineHeight: 1.25;
--repo-typography-h2-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-h2-fontWeight: 600;
--repo-typography-h2-fontSize: 39.0625px;
--repo-typography-h2-lineHeight: 1.25;
--repo-typography-h3-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-h3-fontWeight: 600;
--repo-typography-h3-fontSize: 31.25px;
--repo-typography-h3-lineHeight: 1.25;
--repo-typography-h4-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-h4-fontWeight: 500;
--repo-typography-h4-fontSize: 25px;
--repo-typography-h4-lineHeight: 1.24;
--repo-typography-h5-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-h5-fontWeight: 500;
--repo-typography-h5-fontSize: 20px;
--repo-typography-h5-lineHeight: 1.25;
--repo-typography-h6-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-h6-fontWeight: 500;
--repo-typography-h6-fontSize: 16px;
--repo-typography-h6-lineHeight: 1.25;
--repo-typography-paragraph-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-paragraph-fontWeight: 400;
--repo-typography-paragraph-fontSize: 16px;
--repo-typography-paragraph-lineHeight: 1.25;
--repo-typography-small-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-small-fontSize: 14px;
--repo-typography-small-lineHeight: 1;
--repo-typography-small-fontWeight: 400;
--repo-typography-input-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-input-fontSize: 16px;
--repo-typography-input-lineHeight: 1.25;
--repo-typography-input-fontWeight: 400;
--repo-typography-button-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-button-fontSize: 14px;
--repo-typography-button-fontWeight: 500;
--repo-typography-button-lineHeight: 1.75;
--repo-typography-label-fontFamily: 'Roboto Flex Variable', 'sans-serif';
--repo-typography-label-fontSize: 14px;
--repo-typography-label-fontWeight: 400;
--repo-size-4: 0.25rem;
--repo-size-8: 0.5rem;
--repo-size-12: 0.75rem;
--repo-size-16: 1rem;
--repo-size-20: 1.25rem;
--repo-size-24: 1.5rem;
--repo-size-28: 1.75rem;
--repo-size-32: 2rem;
--repo-size-36: 2.25rem;
--repo-size-40: 2.5rem;
--repo-size-44: 2.75rem;
--repo-size-48: 3rem;
--repo-size-52: 3.25rem;
--repo-size-56: 3.5rem;
--repo-size-60: 3.75rem;
--repo-size-64: 4rem;
--repo-size-68: 4.25rem;
--repo-size-72: 4.5rem;
--repo-size-76: 4.75rem;
--repo-size-80: 5rem;
--repo-size-84: 5.25rem;
--repo-size-88: 5.5rem;
--repo-size-92: 5.75rem;
--repo-size-96: 6rem;
--repo-size-100: 6.25rem;
--repo-size-104: 6.5rem;
--repo-size-108: 6.75rem;
--repo-size-112: 7rem;
--repo-size-116: 7.25rem;
--repo-size-120: 7.5rem;
--repo-size-124: 7.75rem;
--repo-size-128: 8rem;
--repo-size-132: 8.25rem;
--repo-size-136: 8.5rem;
--repo-size-140: 8.75rem;
--repo-size-144: 9rem;
--repo-size-148: 9.25rem;
--repo-size-152: 9.5rem;
--repo-size-156: 9.75rem;
--repo-size-160: 10rem;
--repo-size-164: 10.25rem;
--repo-size-168: 10.5rem;
--repo-size-172: 10.75rem;
--repo-size-176: 11rem;
--repo-size-180: 11.25rem;
--repo-size-184: 11.5rem;
--repo-size-188: 11.75rem;
--repo-size-192: 12rem;
--repo-size-196: 12.25rem;
--repo-size-200: 12.5rem;
--repo-size-204: 12.75rem;
--repo-size-208: 13rem;
--repo-size-212: 13.25rem;
--repo-size-216: 13.5rem;
--repo-size-220: 13.75rem;
--repo-size-224: 14rem;
--repo-size-228: 14.25rem;
--repo-size-232: 14.5rem;
--repo-size-236: 14.75rem;
--repo-size-240: 15rem;
--repo-size-244: 15.25rem;
--repo-size-248: 15.5rem;
--repo-size-252: 15.75rem;
--repo-size-256: 16rem;
--repo-size-260: 16.25rem;
--repo-size-264: 16.5rem;
--repo-size-268: 16.75rem;
--repo-size-272: 17rem;
--repo-size-276: 17.25rem;
--repo-size-280: 17.5rem;
--repo-size-284: 17.75rem;
--repo-size-288: 18rem;
--repo-size-292: 18.25rem;
--repo-size-296: 18.5rem;
--repo-size-300: 18.75rem;
--repo-size-304: 19rem;
--repo-size-308: 19.25rem;
--repo-size-312: 19.5rem;
--repo-size-316: 19.75rem;
--repo-size-320: 20rem;
--repo-size-324: 20.25rem;
--repo-size-328: 20.5rem;
--repo-size-332: 20.75rem;
--repo-size-336: 21rem;
--repo-size-340: 21.25rem;
--repo-size-344: 21.5rem;
--repo-size-348: 21.75rem;
--repo-size-352: 22rem;
--repo-size-356: 22.25rem;
--repo-size-360: 22.5rem;
--repo-size-364: 22.75rem;
--repo-size-368: 23rem;
--repo-size-372: 23.25rem;
--repo-size-376: 23.5rem;
--repo-size-380: 23.75rem;
--repo-size-384: 24rem;
--repo-size-388: 24.25rem;
--repo-size-392: 24.5rem;
--repo-size-396: 24.75rem;
--repo-size-400: 25rem;
--repo-size-404: 25.25rem;
--repo-size-408: 25.5rem;
--repo-size-412: 25.75rem;
--repo-size-416: 26rem;
--repo-size-420: 26.25rem;
--repo-size-424: 26.5rem;
--repo-size-428: 26.75rem;
--repo-size-432: 27rem;
--repo-size-436: 27.25rem;
--repo-size-440: 27.5rem;
--repo-size-444: 27.75rem;
--repo-size-448: 28rem;
--repo-size-452: 28.25rem;
--repo-size-456: 28.5rem;
--repo-size-460: 28.75rem;
--repo-size-464: 29rem;
--repo-size-468: 29.25rem;
--repo-size-472: 29.5rem;
--repo-size-476: 29.75rem;
--repo-size-480: 30rem;
--repo-size-484: 30.25rem;
--repo-size-488: 30.5rem;
--repo-size-492: 30.75rem;
--repo-size-496: 31rem;
--repo-size-500: 31.25rem;
--repo-size-504: 31.5rem;
--repo-size-508: 31.75rem;
--repo-size-512: 32rem;
--repo-size-516: 32.25rem;
--repo-size-520: 32.5rem;
--repo-size-524: 32.75rem;
--repo-size-528: 33rem;
--repo-size-532: 33.25rem;
--repo-size-536: 33.5rem;
--repo-size-540: 33.75rem;
--repo-size-544: 34rem;
--repo-size-548: 34.25rem;
--repo-size-552: 34.5rem;
--repo-size-556: 34.75rem;
--repo-size-560: 35rem;
--repo-size-564: 35.25rem;
--repo-size-568: 35.5rem;
--repo-size-572: 35.75rem;
--repo-size-576: 36rem;
--repo-size-580: 36.25rem;
--repo-size-584: 36.5rem;
--repo-size-588: 36.75rem;
--repo-size-592: 37rem;
--repo-size-596: 37.25rem;
--repo-size-600: 37.5rem;
--repo-size-604: 37.75rem;
--repo-size-608: 38rem;
--repo-size-612: 38.25rem;
--repo-size-616: 38.5rem;
--repo-size-620: 38.75rem;
--repo-size-624: 39rem;
--repo-size-628: 39.25rem;
--repo-size-632: 39.5rem;
--repo-size-636: 39.75rem;
--repo-size-640: 40rem;
--repo-size-644: 40.25rem;
--repo-size-648: 40.5rem;
--repo-size-652: 40.75rem;
--repo-size-656: 41rem;
--repo-size-660: 41.25rem;
--repo-size-664: 41.5rem;
--repo-size-668: 41.75rem;
--repo-size-672: 42rem;
--repo-size-676: 42.25rem;
--repo-size-680: 42.5rem;
--repo-size-684: 42.75rem;
--repo-size-688: 43rem;
--repo-size-692: 43.25rem;
--repo-size-696: 43.5rem;
--repo-size-700: 43.75rem;
--repo-size-704: 44rem;
--repo-size-708: 44.25rem;
--repo-size-712: 44.5rem;
--repo-size-716: 44.75rem;
--repo-size-720: 45rem;
--repo-size-724: 45.25rem;
--repo-size-728: 45.5rem;
--repo-size-732: 45.75rem;
--repo-size-736: 46rem;
--repo-size-740: 46.25rem;
--repo-size-744: 46.5rem;
--repo-size-748: 46.75rem;
--repo-size-752: 47rem;
--repo-size-756: 47.25rem;
--repo-size-760: 47.5rem;
--repo-size-764: 47.75rem;
--repo-size-768: 48rem;
--repo-size-772: 48.25rem;
--repo-size-776: 48.5rem;
--repo-size-780: 48.75rem;
--repo-size-784: 49rem;
--repo-size-788: 49.25rem;
--repo-size-792: 49.5rem;
--repo-size-796: 49.75rem;
--repo-size-800: 50rem;
--repo-size-804: 50.25rem;
--repo-size-808: 50.5rem;
--repo-size-812: 50.75rem;
--repo-size-816: 51rem;
--repo-size-820: 51.25rem;
--repo-size-824: 51.5rem;
--repo-size-828: 51.75rem;
--repo-size-832: 52rem;
--repo-size-836: 52.25rem;
--repo-size-840: 52.5rem;
--repo-size-844: 52.75rem;
--repo-size-848: 53rem;
--repo-size-852: 53.25rem;
--repo-size-856: 53.5rem;
--repo-size-860: 53.75rem;
--repo-size-864: 54rem;
--repo-size-868: 54.25rem;
--repo-size-872: 54.5rem;
--repo-size-876: 54.75rem;
--repo-size-880: 55rem;
--repo-size-884: 55.25rem;
--repo-size-888: 55.5rem;
--repo-size-892: 55.75rem;
--repo-size-896: 56rem;
--repo-size-900: 56.25rem;
--repo-size-904: 56.5rem;
--repo-size-908: 56.75rem;
--repo-size-912: 57rem;
--repo-size-916: 57.25rem;
--repo-size-920: 57.5rem;
--repo-size-924: 57.75rem;
--repo-size-928: 58rem;
--repo-size-932: 58.25rem;
--repo-size-936: 58.5rem;
--repo-size-940: 58.75rem;
--repo-size-944: 59rem;
--repo-size-948: 59.25rem;
--repo-size-952: 59.5rem;
--repo-size-956: 59.75rem;
--repo-size-960: 60rem;
--repo-size-964: 60.25rem;
--repo-size-968: 60.5rem;
--repo-size-972: 60.75rem;
--repo-size-976: 61rem;
--repo-size-980: 61.25rem;
--repo-size-984: 61.5rem;
--repo-size-988: 61.75rem;
--repo-size-992: 62rem;
--repo-size-996: 62.25rem;
--repo-size-1000: 62.5rem;
--repo-size-1004: 62.75rem;
--repo-size-1008: 63rem;
--repo-size-1012: 63.25rem;
--repo-size-1016: 63.5rem;
--repo-size-1020: 63.75rem;
--repo-size-1024: 64rem;
--repo-pageLayout-maxContentWidth: 80rem;
--repo-shape-borderRadius: 0.1875rem;
--repo-icon-size-small: 16;
--repo-icon-size-medium: 20;
--repo-className: repo-light-theme;
--repo-palette-error-main: #f44336;
--repo-palette-error-light: #f77066;
--repo-palette-error-dark: #ea1c0d;
--repo-palette-error-contrastText: #ffffff;
--repo-palette-success-main: #16a34a;
--repo-palette-success-light: #1cd05e;
--repo-palette-success-dark: #107636;
--repo-palette-success-contrastText: #ffffff;
--repo-palette-disabled-backgroundColor: #ccc;
--repo-palette-disabled-color: #888;
--repo-palette-disabled-borderColor: #ccc;
--repo-palette-statusNotStarted-main: #e0e0e0;
--repo-palette-statusNotStarted-light: #f9f9f9;
--repo-palette-statusNotStarted-dark: #c6c6c6;
--repo-palette-statusNotStarted-contrastText: #000000;
--repo-palette-statusInProgress-main: #444;
--repo-palette-statusInProgress-light: #5e5e5e;
--repo-palette-statusInProgress-dark: #2b2b2b;
--repo-palette-statusInProgress-contrastText: #ffffff;
--repo-palette-statusComplete-main: #16a34a;
--repo-palette-statusComplete-light: #1cd05e;
--repo-palette-statusComplete-dark: #107636;
--repo-palette-statusComplete-contrastText: #ffffff;
--repo-palette-primary-main: #1a237e;
--repo-palette-primary-light: #232fa8;
--repo-palette-primary-dark: #111754;
--repo-palette-primary-contrastText: #ffffff;
--repo-palette-secondary-main: #237e1a;
--repo-palette-secondary-light: #2fa823;
--repo-palette-secondary-dark: #175411;
--repo-palette-secondary-contrastText: #ffffff;
--repo-palette-appBackground-main: #f4f4f4;
--repo-palette-appBackground-light: #ffffff;
--repo-palette-appBackground-dark: #dbdbdb;
--repo-palette-appBackground-contrastText: #000000;
--repo-palette-surfaceBackground-main: #fff;
--repo-palette-surfaceBackground-light: #ffffff;
--repo-palette-surfaceBackground-dark: #e6e6e6;
--repo-palette-surfaceBackground-contrastText: #000000;
--repo-palette-divider: #e0e0e0;
--repo-components-appHeader-backgroundColor: #fff;
--repo-components-appHeader-textColor: #000;
}